<div id="garden">
  <h1>Jardins</h1>
  <div class="divider"></div>
  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="gardenSelect">Jardin</label>
      </div>
      <select class="custom-select" id="gardenSelect" [(ngModel)]="this.selectedGardenId" (change)="setGardenInfo()">
        <option *ngFor="let garden of this.gardens" [value]="garden.jardinId">{{ garden.name }}</option>
      </select>
    </div>
  </div>

  <table mat-table id="garden-info" [dataSource]="garden" class="table">  

    <ng-container matColumnDef="name">
      <th class="data" mat-header-cell *matHeaderCellDef> Nom </th>
      <td class="data" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="surface">
      <th class="data" mat-header-cell *matHeaderCellDef> Surface </th>
      <td class="data" mat-cell *matCellDef="let element"> {{element.surface}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['name', 'surface']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'surface'];"></tr>
  </table>
  <div class="mat-group">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Parcelles">
        <div>
          <table mat-table [dataSource]="parcels" class="table">  

            <ng-container matColumnDef="coordinates">
              <th class="data" mat-header-cell *matHeaderCellDef> Coordonnées </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.coordinates}} </td>
            </ng-container>
          
            <ng-container matColumnDef="dimensions">
              <th class="data" mat-header-cell *matHeaderCellDef> Dimensions </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.dimensions}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="['coordinates', 'dimensions']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['coordinates', 'dimensions'];"></tr>
          </table>
          <mat-paginator #parcelPaginator [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Rangs en cultivation">
        <div>
          <table mat-table [dataSource]="cultivateRanks" class="table">  

            <ng-container matColumnDef="number">
              <th class="data" mat-header-cell *matHeaderCellDef> Numéro de rang </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.number}} </td>
            </ng-container>
          
            <ng-container matColumnDef="coordinates">
              <th class="data" mat-header-cell *matHeaderCellDef> Coordonnées géographiques </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.coordinates}} </td>
            </ng-container>
  
            <ng-container matColumnDef="type">
              <th class="data" mat-header-cell *matHeaderCellDef> Type de mise en place </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
  
            <ng-container matColumnDef="period">
              <th class="data" mat-header-cell *matHeaderCellDef> Période de culture </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.period}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="['number', 'coordinates', 'type', 'period']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['number', 'coordinates', 'type', 'period'];"></tr>
          </table>
          <mat-paginator #cultivateRankPaginator [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Rangs en jachère">
        <div>
          <table mat-table [dataSource]="fallowRanks" class="table">  

            <ng-container matColumnDef="number">
              <th class="data" mat-header-cell *matHeaderCellDef> Numéro de rang </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.number}} </td>
            </ng-container>
          
            <ng-container matColumnDef="coordinates">
              <th class="data" mat-header-cell *matHeaderCellDef> Coordonnées géographiques </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.coordinates}} </td>
            </ng-container>
  
            <ng-container matColumnDef="period">
              <th class="data" mat-header-cell *matHeaderCellDef> Période en jachère </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.period}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="['number', 'coordinates', 'period']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['number', 'coordinates', 'period'];"></tr>
          </table>
          <mat-paginator #fallowRankPaginator [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Variétés de plantes">
        <div *ngFor="let variety of this.varieties">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ variety.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>Année de mise en marché : {{ variety.year }}</li>
              <li>Description pour le semis : {{ variety.description }}</li>
              <li>Plantation : {{ variety.plantation }}</li>
              <li>Entretien : {{ variety.maintenance }}</li>
              <li>Récolte : {{ variety.harvest }}</li>
              <li>Période de mise en place : {{ variety.plantationPeriod }}</li>
              <li>Période de récolte : {{ variety.harvestPeriod }}</li>
              <li>Type de sol : {{ variety.soilType }}</li>
              <li>Niveau d'adaptation : {{ variety.adaptation }}</li>
              <li>Version : {{ variety.version }}</li>
              <li>Sememcier : {{ variety.seedmanName }}</li>
              <li>Commentaires : {{ variety.comments }}</li>
            </ul>  
          </mat-expansion-panel>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>  
</div>
