<div id="garden">
  <h1>Jardins</h1>
  <div class="divider"></div>
  <!-- <div id="parcel">
    <table
      id="ht"
      align="center"
      border="1"
      width="1000"
      class="table-striped table-hover"
    >
      <thead class="roomsheader">
        <th class="contentCell">COORDONÉES</th>
        <th class="contentCell">DIMENSIONS</th>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms; let i = index">
          <td class="contentCell">{{ room.hotelnb }}</td>
          <td class="contentCell">{{ room.roomnb }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changeRoomType($event, i)">{{ room.type }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changeRoomPrice($event, i)">{{ room.price }}</td>
          <td class="actionCell">
            <button type="button" class="submitbtn" (click)="updateRoom(i)"> <i class="fa fa-edit"></i></button>
            <button type="button" class="deletebtn" (click)="deleteRoom(room.hotelnb, room.roomnb)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
  
        <tr class="blank_row">
          <td class="contentCell">{{selectedHotel.hotelnb}}</td>
          <td class="contentCell" contenteditable="true" placeholder="New Number" #newRoomNb></td>
          <td class="contentCell" contenteditable="true" placeholder="New Type" #newRoomType></td>
          <td class="contentCell" contenteditable="true" placeholder="New Price" #newRoomPrice></td>
          <td class="contentCell"></td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <!-- <div id="rank">
    <table
      id="ht"
      align="center"
      border="1"
      width="1000"
      class="table-striped table-hover"
    >
      <thead class="roomsheader">
        <th class="contentCell">NUMÉRO DE RANG</th>
        <th class="contentCell">COORDONÉES GÉOGRAPHIQUES</th>
        <th class="contentCell">TYPE MISE EN PLACE</th>
        <th class="contentCell">PÉRIODE DE CULTURE</th>
        <th class="actionCell">ACTION</th>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms; let i = index">
          <td class="contentCell">{{ room.hotelnb }}</td>
          <td class="contentCell">{{ room.roomnb }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changeRoomType($event, i)">{{ room.type }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changeRoomPrice($event, i)">{{ room.price }}</td>
          <td class="actionCell">
            <button type="button" class="submitbtn" (click)="updateRoom(i)"> <i class="fa fa-edit"></i></button>
            <button type="button" class="deletebtn" (click)="deleteRoom(room.hotelnb, room.roomnb)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
  
        <tr class="blank_row">
          <td class="contentCell">{{selectedHotel.hotelnb}}</td>
          <td class="contentCell" contenteditable="true" placeholder="New Number" #newRoomNb></td>
          <td class="contentCell" contenteditable="true" placeholder="New Type" #newRoomType></td>
          <td class="contentCell" contenteditable="true" placeholder="New Price" #newRoomPrice></td>
          <td class="contentCell"></td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <!-- <div id="rank">
    <table
      id="ht"
      align="center"
      border="1"
      width="1000"
      class="table-striped table-hover"
    >
      <thead class="roomsheader">
        <th class="contentCell">NUMÉRO DE RANG</th>
        <th class="contentCell">COORDONÉES GÉOGRAPHIQUES</th>
        <th class="contentCell">PÉRIODE EN JACHÈRE</th>
        <th class="actionCell">ACTION</th>
      </thead>

      <tbody>
        <tr *ngFor="let room of rooms; let i = index">
          <td class="contentCell">{{ room.hotelnb }}</td>
          <td class="contentCell">{{ room.roomnb }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changeRoomType($event, i)">{{ room.type }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changeRoomPrice($event, i)">{{ room.price }}</td>
          <td class="actionCell">
            <button type="button" class="submitbtn" (click)="updateRoom(i)"> <i class="fa fa-edit"></i></button>
            <button type="button" class="deletebtn" (click)="deleteRoom(room.hotelnb, room.roomnb)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
  
        <tr class="blank_row">
          <td class="contentCell">{{selectedHotel.hotelnb}}</td>
          <td class="contentCell" contenteditable="true" placeholder="New Number" #newRoomNb></td>
          <td class="contentCell" contenteditable="true" placeholder="New Type" #newRoomType></td>
          <td class="contentCell" contenteditable="true" placeholder="New Price" #newRoomPrice></td>
          <td class="contentCell"></td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <!-- <div id="varieties">
    <table
      id="ht"
      align="center"
      border="1"
      width="1000"
      class="table-striped table-hover"
    >
      <thead class="roomsheader">
        <th class="contentCell">NOM</th>
        <th class="contentCell">ANNÉE MISE EN MARCHÉ</th>
        <th class="contentCell">DESCRIPTIONS POUR LE SEMIS</th>
        <th class="contentCell">PLANTATION</th>
        <th class="contentCell">ENTRETIEN</th>
        <th class="contentCell">RÉCOLTE</th>
        <th class="contentCell">PÉRIODE DE MISE EN PLACE</th>
        <th class="contentCell">PÉRIODE DE RÉCOLTE</th>
        <th class="contentCell">COMMENTAIRES</th>
        <th class="actionCell">ACTION</th>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms; let i = index">
          <td class="contentCell">{{ room.hotelnb }}</td>
          <td class="contentCell">{{ room.roomnb }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changeRoomType($event, i)">{{ room.type }}</td>
          <td class="contentCell" contenteditable="true" (blur)="changeRoomPrice($event, i)">{{ room.price }}</td>
          <td class="actionCell">
            <button type="button" class="submitbtn" (click)="updateRoom(i)"> <i class="fa fa-edit"></i></button>
            <button type="button" class="deletebtn" (click)="deleteRoom(room.hotelnb, room.roomnb)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
  
        <tr class="blank_row">
          <td class="contentCell">{{selectedHotel.hotelnb}}</td>
          <td class="contentCell" contenteditable="true" placeholder="New Number" #newRoomNb></td>
          <td class="contentCell" contenteditable="true" placeholder="New Type" #newRoomType></td>
          <td class="contentCell" contenteditable="true" placeholder="New Price" #newRoomPrice></td>
          <td class="contentCell"></td>
        </tr>
      </tbody>
    </table>
  </div> -->
  
  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="gardenSelect">Jardin</label>
      </div>
      <select class="custom-select" id="gardenSelect" [(ngModel)]="this.selectedGardenId" (change)="setGardenInfo()">
        <option *ngFor="let garden of this.gardenInfo.basicInfo" [value]="garden.jardinId">{{ garden.name }}</option>
      </select>
    </div>
  </div>

  <table mat-table id="garden-info" [dataSource]="garden" class="table">  

    <ng-container matColumnDef="name">
      <th class="data" mat-header-cell *matHeaderCellDef> Nom </th>
      <td class="data" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="surface">
      <th class="data" mat-header-cell *matHeaderCellDef> Surface </th>
      <td class="data" mat-cell *matCellDef="let element"> {{element.surface}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['name', 'surface']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'surface'];"></tr>
  </table>
  <div class="mat-group">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Parcelles">
        <div>
          <table mat-table [dataSource]="parcels" class="table">  

            <ng-container matColumnDef="coordinates">
              <th class="data" mat-header-cell *matHeaderCellDef> Coordonnées </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.coordinates}} </td>
            </ng-container>
          
            <ng-container matColumnDef="dimensions">
              <th class="data" mat-header-cell *matHeaderCellDef> Dimensions </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.dimensions}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="['coordinates', 'dimensions']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['coordinates', 'dimensions'];"></tr>
          </table>
          <mat-paginator #parcelPaginator [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Rangs en cultivation">
        <div>
          <table mat-table [dataSource]="cultivateRanks" class="table">  

            <ng-container matColumnDef="number">
              <th class="data" mat-header-cell *matHeaderCellDef> Numéro de rang </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.number}} </td>
            </ng-container>
          
            <ng-container matColumnDef="coordinates">
              <th class="data" mat-header-cell *matHeaderCellDef> Coordonnées géographiques </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.coordinates}} </td>
            </ng-container>
  
            <ng-container matColumnDef="type">
              <th class="data" mat-header-cell *matHeaderCellDef> Type de mise en place </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
  
            <ng-container matColumnDef="period">
              <th class="data" mat-header-cell *matHeaderCellDef> Période de culture </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.period}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="['number', 'coordinates', 'type', 'period']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['number', 'coordinates', 'type', 'period'];"></tr>
          </table>
          <mat-paginator #cultivateRankPaginator [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Rangs en jachère">
        <div>
          <table mat-table [dataSource]="fallowRanks" class="table">  

            <ng-container matColumnDef="number">
              <th class="data" mat-header-cell *matHeaderCellDef> Numéro de rang </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.number}} </td>
            </ng-container>
          
            <ng-container matColumnDef="coordinates">
              <th class="data" mat-header-cell *matHeaderCellDef> Coordonnées géographiques </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.coordinates}} </td>
            </ng-container>
  
            <ng-container matColumnDef="period">
              <th class="data" mat-header-cell *matHeaderCellDef> Période en jachère </th>
              <td class="data" mat-cell *matCellDef="let element"> {{element.period}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="['number', 'coordinates', 'period']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['number', 'coordinates', 'period'];"></tr>
          </table>
          <mat-paginator #fallowRankPaginator [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Variétés de plantes">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>Année de mise en marché :</li>
              <li>Description pour le semis :</li>
              <li>Plantation :</li>
              <li>Entretien :</li>
              <li>Récolte :</li>
              <li>Période de mise en place :</li>
              <li>Période de récolte :</li>
              <li>Commentaires : <p id="comment">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p></li>
            </ul>  
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </div>
  
  
  <!-- <h2>Parcelles</h2>
  <h2>Rangs en cultivation</h2>
  <h2>Rangs en jachère</h2>
  <h2>Variétés de plantes</h2> -->

  <!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>Année de mise en marché :</li>
        <li>Description pour le semis :</li>
        <li>Plantation :</li>
        <li>Entretien :</li>
        <li>Récolte :</li>
        <li>Période de mise en place :</li>
        <li>Période de récolte :</li>
        <li>Commentaires : <p id="comment">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p></li>
      </ul>  
    </mat-expansion-panel>
  </mat-accordion> -->
  
</div>
