<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand title" href="/">INF3710 - TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/garden">Jardin</a>
        <a class="nav-item nav-link active" routerLink="/plant">Plante</a>
        <a class="nav-item nav-link active" routerLink="/modify-variety">Variétés</a>
        <a class="nav-item nav-link active" routerLink="/variety">Ajouter Variété</a>
      </div>
    </div>
  </nav>
  
  <div class="home" *ngIf="route == ''">
    <p>
      Welcome<br />to<br /><span class="garden1">gardens</span
      ><span class="garden2">gardens</span><span class="garden3">gardens</span>
    </p>
    <button type="button" class="btn" routerLink="/garden">CHECK OUR GARDENS &#10140;</button>
  </div>
  
  <router-outlet></router-outlet>  
</body>
